@import '~tachyons/css/tachyons.min.css';

:root {
  --color-primary: #a463f2;
  --color-gray-dark: #ccc;
  --color-gray: #f9fafb;

  --font-primary: 'Inter', sans-serif;
}

html,
body {
  font-family: var(--font-primary);
}

.bg-gray {
  background-color: var(--color-gray);
}

.color-gray {
  color: var(--color-gray);
}

.btn {
  cursor: pointer;
}

.absolute-center-y {
  top: 50%;
  transform: translateY(-50%);
}

.item-grid {
  margin-left: -1rem;
  margin-right: -1rem;
}

.w15 {
  width: 1.5rem;
}

.h15 {
  height: 1.5rem;
}

.w125 {
  width: 1.25rem;
}

.h125 {
  height: 1.25rem;
}

.checkbox {
  box-shadow: 0 0 0 1.5px var(--color-gray-dark);
}

.checkbox:hover,
.checkbox:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 1.5px var(--color-primary);
}

.checkbox:hover .checkbox__icon,
.checkbox:focus .checkbox__icon {
  color: var(--color-primary);
}

.checkbox [data-state='checked'] {
  display: flex;
}

.search {
  box-shadow: 0 2px 0 0 var(--color-gray-dark);
}

.search.focused {
  box-shadow: 0 2px 0 0 var(--color-primary);
}

.slider[data-orientation='horizontal'] {
  height: 20px;
}

.slider__track,
.slider__range {
  height: 3px;
}

.slider__range {
  content: '';
  display: block;
  position: absolute;
}

.slider__thumb {
  box-shadow: 0 0 0 2px var(--color-primary);
}

.slider__thumb:hover {
  background-color: var(--color-primary);
}

.select {
  box-shadow: 0 0 0 2px var(--color-gray-dark);
}

.select:focus {
  box-shadow: 0 0 0 2px var(--color-primary);
}
